/* 색상 구성표 */
body {
    color: #8088b2;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/asset/bg_1.jpg');
    background-size: cover;
}

/* 년도 옵션 */
.year label {
    display: inline-block;
    margin: 10px;
    font-size: 1.2em;
}
.year input[type='radio'] {
    transform: scale(1.5);
    margin-right: 10px;
}

/* 목적 옵션 */
.place input[type='text'] {
    display: block;
    width: 96%;
    padding: 10px;
    font-size: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 버튼 옵션 */
.place button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    background-color: #3f568b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* 버튼 마우스 오버 색상 */
.place button:hover {
    background-color: #c7b0c2;
}

/* 상자 그림자 및 레이어링 */
div {
    box-shadow: 0 4px 8px 0 rgba(85, 85, 85, 0.3);
    background-color: rgba(67, 89, 94, 0.2);
}

/* player 설정 */
#videoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around; /* 각 아이템들 사이에 공간을 동일하게 배분 */
}
#videoList iframe {
    margin: 10px; /* 상하좌우 간격을 10px로 설정 */
}

/* header */
header {
    background: #2d2d2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* 축소 방지 */
}
nav ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    justify-content: center; 
}
nav ul li {
    margin: 0 10px;
}
.menu {
    color: white; 
    text-decoration: none; 
    font-size: 20px; 
}
.menu:hover {
    color: #c7b0c2; 
}
.menu:visited {
    color: #8088b2;
}
h1 {
    color: #9ea0a9;
    margin-left: 20px;
}

/* main */
h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
main {
    flex-grow: 1;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
section {
    flex-grow: 1; /* 세션이 나머지 공간을 차지하도록 커짐 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 콘텐츠가 컨테이너보다 큰 경우 스크롤을 추가 함 */
}


/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2f;
    flex-shrink: 0; /* 축소 방지 */
}
footer p {
    color: #9ea0a9;
}
